@import "../../../assets/themes/variables";

.movies-banner {
  height: 20rem;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../assets/images/1.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: $white;
  text-decoration: none;
  font-weight: bolder;
}
nav ul li a:hover {
  color: $primaryColor;
  text-decoration: none;
  font-weight: bolder;
}


.header {
    display: flex;
    width: 100%;
    background: $primaryColor;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

.header .icon{
    font-size: 35px;
    font-weight: 800;
    color: $white;
    cursor: pointer;
}

.header .search-box {

    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

.header .search-box input{
   border: none;
   outline: none;
   background:$white;
   height: 100%;
   padding: 0 10px;
   font-size: 20px;
   width: 350px;
}
.header .search-box span{
  color: $primaryColor;
  font-size: 20px;
  background: $white;
  height: 100%;
  padding: 8px;
  position: relative;
  z-index: 1;
}
.header .search-box span::after{

    height: 100%;
    width: 100%;
    content: '';
    background:$white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}
.header .search-box span:hover::after{
    width: 100%;

}
